@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../scss/pages/navbar';
@import '../scss/pages/form';
@import '../scss/pages/footer';
@import '../scss/pages/content';
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: $white !important;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: $green !important;
}

::-webkit-scrollbar-button {
    height: 80px;
    border-radius: 5px;
}

::placeholder {
    font-size: 15px;
    margin-right: 1px;
}