@import '../../node_modules/bootstrap/scss/variables';
footer {
    background-color: $yellow !important;
    width: 100%;
    strong {
        .text-email {
            font-size: 15px;
            margin: 10px;
        }
    }
}