@import '../../node_modules/bootstrap/scss/variables';
@import'../../node_modules/bootstrap/scss/bootstrap.scss';
footer {
    background-color: $green !important;
    width: 100%;
    strong {
        .text-email {
            font-size: 15px;
            margin: 10px;
        }
    }
}