 @import '../../node_modules/bootstrap/scss/variables';

 .formulario {
     border-radius: 12px;
     height: 500px;
     background-color: $green !important;
     margin-top: 115px;
 }
 
 @media(max-width:400px) {
     .formulario {
         width: 350px;
         margin-top: 115px;

     }
     .form-control {
         width: 290px;
     }
     .image {
         overflow: hidden;
     }
     //Responsividade
     @media(max-width:320px) {
         .formulario {
             width: 300px;
             margin: 10px;
             display: flex;
             justify-content: center;
             align-items: center;
             margin-top: 70px;
    
         }
         .form {
             margin: 10px;
         }
         .form-control {
             width: 270px;
             margin: 5px;
             padding: 10px;
             display: flex;
         }
     }
 }
 
 .button-move {
     margin-top: 30px;
 }
 
 .button {
     width: 150px;
     height: 40px;
     font-weight: bold;
     &:hover .button {
         background-color: rgb(255, 255, 255);
     }
     &:active.button {
         transform: scale(0.97);
     }
 }