<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://xmlns.jcp.org/xml/ns/javaee"
 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd ">
  <display-name>Aps-Agro</display-name>
 <servlet>
    <servlet-name>cadastrar</servlet-name>
     <servlet-class>controller.cadastrarDados</servlet-class>
      </servlet>


     <servlet-mapping>
         <servlet-name>cadastrar</servlet-name>
         <url-pattern>/index</url-pattern>
     </servlet-mapping>

</web-app>