<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://xmlns.jcp.org/xml/ns/javaee"
 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd ">
  <display-name>Aps</display-name>
 <servlet>
    <servlet-name>register</servlet-name>
     <servlet-class>controller.RegisterData</servlet-class>
      </servlet>

	<servlet>
	<servlet-name>buscar</servlet-name>
	<servlet-class>controller.BuscarTrabalhadorController</servlet-class>
	</servlet>

	<servlet>
	<servlet-name>modificar</servlet-name>
	<servlet-class>controller.ModificarTrabalhadoresController</servlet-class>
	</servlet>
	
	<servlet>
	<servlet-name>alterar</servlet-name>
	<servlet-class>controller.AlteraTrabalhadorController</servlet-class>
	</servlet>
	
     <servlet-mapping>
         <servlet-name>register</servlet-name>
         <url-pattern>/index</url-pattern>
     </servlet-mapping>

	<servlet-mapping>
         <servlet-name>buscar</servlet-name>
         <url-pattern>/BuscarTrabalhador</url-pattern>
     </servlet-mapping>
     
     <servlet-mapping>
         <servlet-name>modificar</servlet-name>
         <url-pattern>/ModificarTrabalhadores</url-pattern>
     </servlet-mapping>
	 
	 <servlet-mapping>
         <servlet-name>alterar</servlet-name>
         <url-pattern>/AlteraTrabalhador</url-pattern>
     </servlet-mapping>
     

</web-app>